---
layout: default
title: Todd's Bistro
---

<h1>Todd's Bistro</h1>
<div class='menu-body'>
    <h4>Monday - Pizza</h4>
    {% assign recipes = site.recipes | where: 'day','monday' %}
    {% include recipe-list.html %}                                
    
    <h4>Tuesday - Fish</h4>
    {% assign recipes = site.recipes | where: 'day','tuesday' %}
    {% include recipe-list.html %}                                
    
    <h4>Wednesday - Chicken</h4>
    {% assign recipes = site.recipes | where: 'day','wednesday' %}
    {% include recipe-list.html %}                               
    
    <h4>Thursday - Sandwiches</h4>
    {% assign recipes = site.recipes | where: 'day','thursday' %}
    {% include recipe-list.html %}                                
    
    <h4>Friday - Pasta</h4>
    {% assign recipes = site.recipes | where: 'day','friday' %}
    {% include recipe-list.html %}                                
    
    <h4>Saturday - Asian and Middle Eastern Inspired Cuisine</h4>
    {% assign recipes = site.recipes | where: 'day','saturday' %}
    {% include recipe-list.html %}                

    <h4>Sunday - Fine Dining</h4>
    {% assign recipes = site.recipes | where: 'day','sunday' %}
    {% include recipe-list.html %}                
</div>
