<a href="javascript:void(0);" class="menu" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
</a>
<div id="recipe-links">
    <div class="recipe-link">
        <a id="menu-close" href="javascript:void(0);" onclick="toggleMenu()">
            <i class="fa fa-times"></i>
        </a>
    </div>
    {% assign all_tags = site.recipes | map: "tags" | uniq | sort_natural %}
    {% for tag in all_tags %}
    <div class="recipe-link">
        <a href="javascript:void(0);" 
            onclick="selectMenuItem('{{ tag }}')">{{ tag | capitalize }}</a>
    </div>
    {% endfor %}
</div>