@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

.row {
  padding:50px;  
}

.cardstock {
  /* #fbfaf2 == 'chiffon' */
  background-color: #fbfaf2; 
  font-family: 'Great Vibes',cursive;
  font-size: 16pt;
  
  border: solid;
  border-width: 2px;
  border-color: gold;
  outline: solid;
  outline-color: gold;
  outline-width: 6px;
  outline-offset: -20px;
}

.cardstock h1 {
  text-align: center;
}

.cardstock a:link,a:visited {
  text-decoration: none;
  color: blue;
}

.cardstock a:hover {
  text-decoration: none;
  color: gold;
}

.cardstock a:active {
  text-decoration: none;
  color: blue;
}

.return {
  position: absolute;
  right: 50px;
  bottom: 25px;
}
