/* Site Color Scheme in CSS HEX 
--white: #ffffffff;
--turquoise-blue: #81f4e1ff;
--vivid-sky-blue: #56cbf9ff;
--french-pink: #ff729fff;
--languid-lavender: #d3c4d1ff;
*/

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

html, body {
  height: 100%;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 480px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  font-size: 15px;
}

.title {
  color: grey;
  font-size: 18px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #d3c4d1ff;
  color: white;
  font-size: 30px;
  overflow: hidden;
}

.image-div {
  position: relative;
}

.image-div > img {
  width: 100%;
}

.placeholder-image {
  position: absolute;
  bottom:10px;
  right:15px;
  color: white;
}

.tags {
  border-top-style: inset;
  border-width: 1px;
  padding-top: 5px;
  text-align: right;
  vertical-align: text-top;
}

.tag-button,.clear-tags {
  height: 25px;
  line-height: 25px;
  padding: 1px 5px;
  background-color: #ff729fff;
  color: white;
}

.footer {
  position: sticky;
  height: 32px;
  bottom: 0;
  text-align: right;
  vertical-align: text-top;
}

.menu {
  color: black;
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
}

#recipe-links {
  display:none;
  background-color: black;
  width: 200px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: +1;
  font-size: 15px;
  padding-bottom: 10px;
}

.recipe-link {
  width: 200px;
  min-height: 25px;
}

#menu-close {
  right: 5px;
  position: absolute;
}

.search-container {
  font-size: 15px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.search-container input {
  width:250px;
  height:40px;
}

#search-results {
  background:black;
  color: white;
  width:250px;
  border: 1px dotted white;
  display: none;
}

#search-results ul {
  list-style-type: none;
  padding: 0px;
  margin: 3px;
  cursor: pointer;
}

#search-results ul li:hover {
  background: #aaa;
}

#recipe-list {
  display: none; 
}

.row {
  padding:50px;  
}

.cardstock {
  /* #fbfaf2 == 'chiffon' */
  background-color: #fbfaf2; 
  font-family: 'Great Vibes',cursive;
  font-size: 16pt;
  
  border: solid;
  border-width: 2px;
  border-color: gold;
  outline: solid;
  outline-color: gold;
  outline-width: 6px;
  outline-offset: -20px;
}

.menu-header {
  text-align: center;
}

.recipe-list a:link {
  text-decoration: none;
  color: blue;
}

.recipe-list a:visited {
  text-decoration: none;
  color: blue;
}

.recipe-list a:hover {
  text-decoration: none;
  color: gold;
}

.recipe-list a:active {
  text-decoration: none;
  color: blue;
}
