/* Site Color Scheme in CSS HEX 
--white: #ffffffff;
--turquoise-blue: #81f4e1ff;
--vivid-sky-blue: #56cbf9ff;
--french-pink: #ff729fff;
--languid-lavender: #d3c4d1ff;
*/

html, body {
  height: 100%;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 480px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #d3c4d1ff;
  color: white;
  font-size: 30px;
}

.image-div {
  position: relative;
}

.image-div > img {
  width: 100%;
}

.placeholder-image {
  position: absolute;
  bottom:10px;
  right:15px;
  color: white;
}

.tags {
  border-top-style: inset;
  border-width: 1px;
  padding-top: 5px;
  text-align: right;
  vertical-align: text-top;
}

.tag-button,.clear-tags {
  height: 25px;
  line-height: 25px;
  padding: 1px 5px;
  background-color: #ff729fff;
  color: white;
}

.footer {
  position: sticky;
  height: 32px;
  bottom: 0;
  text-align: right;
  vertical-align: text-top;
}

.menu {
  color: black;
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
}
