/* Site Color Scheme in CSS HEX 
--white: #ffffffff;
--turquoise-blue: #81f4e1ff;
--vivid-sky-blue: #56cbf9ff;
--french-pink: #ff729fff;
--languid-lavender: #d3c4d1ff;
*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 480px;
  margin: auto;
  text-align: left;
  padding: 3px 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #d3c4d1ff;
  color: white;
  font-size: 30px;
}

.image-div {
  position: relative;
}

.placeholder-image {
  position: absolute;
  top:90%;
  left:78%;
  color: white;
}
